.table {
    text-align: center;
    margin: 5%;
    margin-left: 35%;
    margin-right: 25%;
    overflow-y: scroll;
    height: 500px;
}

.flex-page{
    display: grid;
    grid-template-columns: 20% 80%;
}

.filter-menu{
    padding-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-weight: bold;
    color: #3c3c3c;
}
.grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
